  body{
    width: 100%;
  }
  
  
  .OUR{
    text-align: center;
   background-color: red;
   text-decoration: underline;
    background-image:linear-gradient( to right, red,green,yellow) ; 
}
.Home{
    height:70px;
    width: 800px;
    margin-left: 200px;
    border: 2px solid red; 
    border-radius: 20px;
text-align: center;
    background-color: #a5d3e4;
}
.list{
display: inline-block;

}
.lorem{
    height: 130px;
    width: 100%;
    border: 2px solid black;
    background-color: aquamarine;
}
.c1,.c2,.c3{
    height: 50px;
    width: 350px;
    border: 2px solid green; 
    border-radius: 10px;
    background-color: aqua;
    padding: 5px;
    color: #000001;
   
}

   .card{
    display: flex;
    justify-content: space-around;
   }
   .c4{
    height: 50px;
    width: 350px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: aqua;
    padding: 5px;
    margin-left: 450px;
    color: #000001;
   }
   
   .OUR1{
    height: 40px;
    text-align: center;
    text-decoration: underline; 
    background-color: red;
    background-image:linear-gradient( to right, red,yellow,red) ;
   }
   .maincard{
    height: 300px;
    background-color: red;
    background-image: radial-gradient(blue,#50c088);
   }
   .c5,.c6,.c7,.c8{
    height: 120px;
    width: 200px;
    background-color: yellow;
    border: 2px solid red;
    font-weight: bolder;
    font-size: large;
    text-decoration: underline;
    border-radius: 10px;
    color: #884200;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
   }
   .card2{
    display: flex;
    justify-content: space-around;
   }
   .lastcard{
    border: 1px solid red;
   }
   .OUR3{
    height: 45px;
    color: white;
    background-color: red;
    text-align: center;
    letter-spacing: 1px;
   }
.c9{
    height: 70px; 
    width: 350px; 
    color: white;
    background-color: #58d16a;
    text-align: center;
    letter-spacing: 1px;
}
.c10{
    height: 70px; 
    width: 350px; 
    color: white;
    background-color:#2584f7 ;
 
}
.c11{
    height: 70px; 
    width: 330px; 
    color: white;
    background-color:#4948ea;
}
.c12{
    height:210px;
    width: 90px;
    background-color: #000001;
    color: white;
    font-size: large;
}
.card3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.c13{
    height: 120px;
    width: 1120px;
    background-color: #50c088;
    margin-top: -150px;
    color: white;
    background-color: #f29937;
    font-weight: bold;
}
.last{
   text-align: center; 
   background-color: aqua;
}